@font-face{
    font-family: Adamina;
    src: url(/src/fonts/adamina/Adamina-Regular.ttf);
}
.adamina{
    font-family: Adamina !important;
}

@font-face{
    font-family: Montserrat;
    src: url(/src/fonts/montserrat/Montserrat-Medium.ttf);
}
.montserrat{
    font-family: Montserrat !important;
}

@font-face{
    font-family: Nunito;
    src: url(/src/fonts/nunito/Nunito-Regular.ttf);
}
.nunito{
    font-family: Nunito !important;
}


/* CSS para fontes e textos */
.font-cousine {
    font-family: 'Cousine', monospace;
    font-size: medium;
}

.font-large {
    font-size: large;
}

.font-small {
    font-size: 10px;
} 


/* CSS para efeito de fonte e texto */
.u {
    text-decoration: underline;
}

.i {
    font-style: italic;
}

.b {
    font-weight: bold;
}