.bg-prefeitura{
    /*background-image: linear-gradient(to right, rgba(0, 0, 255, 0.200) 70%, rgba(255, 0, 0, 0.200));*/
    background-color: #41B6E6;
}

.logo{
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 90px;
}

.sasdh-logo {
    text-shadow: 1px 0px 3px #002c5a, -1px 0px 3px #002c5a;
}

/*point event none*/
.pen{ 
    pointer-events: none;
}

/* REMOVER SUBINHAMENTO */
.rsub:link{
    text-decoration: none;
}

/* BANNER BORDER */
.banner-back{
    width: auto;
    background-color: #0062cc;
}

.banner-width{
    max-width: 620px;
}

.width-400{
    width: 350px;
}

h3{
    color: #0062cc;
    font-weight: bolder;
}

.webkit{
    -webkit-text-stroke: 1px #ffffff;
}


/* COLORING THE NAVBAR */
.nav-item:hover * {
    background-color: #41B6E6;
    color: #ffffff !important;
    border: 0;
}
.nav-item > a{ /* Isso serve para não ficar alterando tamanho quando passar o mouse em cima dos menus */
    border-left: 1px solid #ffffff00;
    border-right: 1px solid #ffffff00;
    border-top: 1px solid #ffffff00;
}
.nav-item:hover > a{
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    border-radius: 5px 5px 0px 0px;
}
.nav-item > .dropdown-menu{
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-radius: 0px 5px 5px 5px;
    min-width: 300px;
    margin-top: 0px;
}
.dropdown-item:hover{
    font-weight: 900;
}
.nav-link{
    width: fit-content;
}

/* BACKGROUND TEXTURES */
.bg-texture{
    background-image: url(/src/textures/bright-squares.png);
    background-color: #002c5a;
}
.bg-texture-content{
    background-image: url(/src/textures/light-wool.png);
}


/* ADDRESS */
#common-icons{
    width: 44px;
    height: 44px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#addressServices > div address {
    border-left: 5px solid #0062cc;
    border-bottom: 5px solid #41B6E6;
    border-radius: 5px;
}
.card-body{
    padding-left: 0px;
    padding-right: 0px;
}

/* BUTTON COLORS */
.btn-services{
    color: white;
    width: 100%;
}
.btn-services:hover{
    color: white;
    font-weight: bolder;
}
.btn-orange{
    background-color: orangered;
}
.btn-gradient-blue{
    background-image: linear-gradient(to right, blue, #41B6E6);
    border: 0px;
    color: white;
    
}
.btn-gradient-blue:hover{
    font-weight: bold;
    color: white;
}


/* SETAS ANTERIOR E POSTERIOR */
.bg-pointer-left {
    background-image: linear-gradient(to right, rgba(172, 169, 169, 0.9) 40%, rgba(255, 255, 255, 0));
}
.bg-pointer-right {
    background-image: linear-gradient(to left, rgba(172, 169, 169, 0.9) 40%, rgba(255, 255, 255, 0));
}
.bg-logo-am {
    background-image: radial-gradient(farthest-side at 65%, white, #41B6E6);
}

/* CAROUSEL SIZING */
.max-size-notice {
    max-width: 998px;
}

.min-size-height {
    height: 340px;
}

/* ICOM IMAGE */
.image-icon {
    width: 64px;
    height: 44px;
}


