.font-cousine {
    font-family: 'Cousine', monospace;
    font-size: medium;
}

.font-large {
    font-size: large;
}

.font-small {
    font-size: 10px;
}

.logo{
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 90px;
}

/*point event none*/
.pen{ 
    pointer-events: none;
}

/*Banner border*/
.banner-back{
    width: auto;
    background-color: #0062cc;
}

.banner-width{
    max-width: 620px;
}

.width-400{
    width: 400px;
}

#addressServices > div address {
    border-left: 5px solid #0062cc;
    border-radius: 5px;
}

h3{
    color: #0062cc;
    font-weight: bolder;
}

.webkit{
    -webkit-text-stroke: 1px #ffffff;
}