.font-cousine {
    font-family: 'Cousine', monospace;
    font-size: medium;
}

.font-large {
    font-size: large;
}

.font-small {
    font-size: 10px;
}

.logo{
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 90px;
}

/*point event none*/
.pen{ 
    pointer-events: none;
}

/*Banner border*/
.banner-back{
    width: auto;
    background-color: #0062cc;
}

.banner-width{
    max-width: 620px;
}

.width-400{
    width: 400px;
}

h3{
    color: #0062cc;
    font-weight: bolder;
}

.webkit{
    -webkit-text-stroke: 1px #ffffff;
}


/* COLORING THE NAVBAR */
.nav-item:hover * {
    background-color: #0062cc;
    color: #ffffff !important;
    border: 0;
}
.nav-item:hover > a{
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    border-radius: 5px 5px 0px 0px;
}
.nav-item > .dropdown-menu{
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-radius: 0px 5px 5px 5px;
    width: 400px;
    margin-top: 0px;
}
.dropdown-item:hover{
    font-weight: 900;
}
.nav-link{
    width: fit-content;
}

/* BACKGROUND TEXTURES */
.bg-texture{
    background-image: url(/src/textures/bright-squares.png);
    background-repeat: repeat;
}
.bg-texture-content{
    background-image: url(/src/textures/light-wool.png);
}


/* ADDRESS */
#common-icons{
    width: 44px;
    height: 44px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#addressServices > div address {
    border-left: 5px solid #0062cc;
    border-bottom: 5px solid #4e88c5;
    border-radius: 5px;
}
.card-body{
    padding-left: 0px;
    padding-right: 0px;
}