.font-cousine {
    font-family: 'Cousine', monospace;
    font-size: medium;
}

.font-large {
    font-size: large;
}

.font-small {
    font-size: 10px;
}

.logo{
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 90px;
}