.font-cousine {
    font-family: 'Cousine', monospace;
    font-size: medium;
}

.font-large {
    font-size: large;
}

.font-small {
    font-size: 10px;
}

.logo{
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 90px;
}

/*point event none*/
.pen{ 
    pointer-events: none;
}

/*Banner border*/
.bb{
    background-color: black;
    border: 200px;
    border-color: black;
}