.font-cousine {
    font-family: 'Cousine', monospace;
    font-size: medium;
}

.font-large {
    font-size: large;
}

.logo{
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 90px;
}

.img-size {
    height: 150px;
    width: 150px;
}